
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
			
			<button class="btn btn-primary"  ng-click="vm.backHome()">Home</button>
       
        </ul>
        <form class="d-flex">
            <input ng-model="searchText" type="text"><button type="button" class="btn btn-info">Search</button>
            
        </form>
      </div>
    </div>
  </nav>
<div class="container">
	<h3>Title: {{vm.job.title}}</h3>
	<p>
		Title: {{vm.job.title}}<br/>
		Salary: {{vm.job.salary | currency}}<br/>
		Description: {{vm.job.description}}<br/>
		Experience: {{vm.job.experience}}<br/>
		Skills:
			<span ng-repeat="skill in vm.job.skills"> {{ skill }} ,
		
			</span> <br>
			
		
	
			Address: {{vm.job.location.address}}<br>
			City: {{vm.job.location.city}}<br>
			PostCode: {{vm.job.location.postCode}}<br>
	
		PostDate: {{vm.job.postDate | date}}<br/>
		Add a skill: <input  ng-model="vm.skill"> 
		<button class="btn btn-sm btn-secondary" ng-click="vm.addSkill()">Add</button>
		<br>
		
		<button class="btn btn-sm btn-danger" ng-click="vm.deleteJob()">Delete</button>
		<form name="vm.jobForm" ng-submit="vm.updateJob()">
			<label>Title:</label> <input type="text" name="title"  ng-model="vm.job.title" style="color: black;"></br>
			<label>Salary</label> <input type="text" name="salary"  ng-model="vm.job.salary" style="color: black;"></br>
			<label>Description: </label> <input type="text" name="description"  ng-model="vm.job.description" style="color: black;"></br>
			<label>Post Date:</label> <input type="text" name="postDate"  ng-model="vm.job.postDate" style="color: black;"></br>
			<label> Experience: </label> <input type="text" name="experience" ng-model="vm.job.experience" style="color:black"><br>
			<label>Location</label> <ul>
				<li>Address: <input type="text" name="address"  ng-model="vm.job.location.address" style="color: black;"></br></li>
				<li>City: <input type="text" name="city"  ng-model="vm.job.location.city" style="color: black;"></br></li>
				<li>Post code: <input type="text" name="postCode"  ng-model="vm.job.location.postCode" style="color: black;"></br></li>
			</ul>
	
			   <button class="btn btn-sm btn-warning" type="submit">update</button>
			</form>
			
			<br>
		
	</p>
	
</div>