<div class="container">
    <h1>
        <p>{{vm.user.name}}
         </p>
     </h1>
     
     <p>
         Name:{{vm.user.name}}<br>
         Budget:{{vm.user.budget | currency}}<br>
         destinations:<ul ng-repeat="destination in vm.user.destinations"> <li>Name: {{destination.name}}</li> <li> Number of visits: {{destination.numVisits}}</li> 
       
             <button ng-show={{vm.isLoggedIn()}} class="btn btn-small" ng-click="vm.deleteDestination(destination._id)">Delete</button></ul><br>
             <ul ng-show={{vm.isLoggedIn()}}>Add destination: 
                 
                     <form name="vm.destinationForm" ng-submit="vm.addDestination()">
                         
                         Name: <input type="text" name="name" required ng-model="vm.newDestinationName" style="color: black;"></br>
                          
                         <button type="submit" class="btn-success">Add Destination</button></br>
                         
                     </form>
                 
             </ul>
             <button ng-show={{vm.isLoggedIn()}} class="btn btn-warning" ng-click="vm.deleteUser()">Delete</button>
         
         
     </p>
</div>