<div class="container">
    <h1>
        {{vm.title}}
    </h1>
    
    <ul>
        <li ng-repeat="user in vm.users">
            <a ng-href="#!/users/{{user._id}}">{{user.name}}</a>
        </li>
    </ul>
    
    <form ng-show={{vm.isLoggedIn()}} name="vm.userForm" ng-submit="vm.addUser()">
        to add a new user please fill in the fields:<br>
        Name: <input type="text" name="name" required ng-model="vm.newUserName" style="color: black;"></br>
        Budget: <input type="text" name="budget" required ng-model="vm.newUserBudget" style="color: black;" ng-pattern="/^[0-9]*$/"></br>
        
        <span ng-show="vm.userForm.budget.$invalid && vm.gameForm.budget.$dirty">Budget must be a number</span>
        <button type="submit" class="btn-success">Add User</button></br>
        
    </form>
</div>